.parent{
    width: 100%;
    height: 100vh;
}
.parent .meno{
    width: inherit;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.parent .meno nav{
    width: inherit;
    height: inherit;
    background-color: rgb(70, 40, 70);
}
.parent .meno nav ul{
    width: 100%;
    height: inherit;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.parent .meno nav ul li{
    width: 70px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    height: inherit;
    transition: 300ms;
    line-height: 40px;
    text-align: center;
}
.parent .meno nav ul li:hover{
    background-color: blue;
}

.parent .products{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
.parent .products .product img{
    width: 100%;
    padding-top: 20px;
    transition: 300ms;
    
    
}
.parent .products .product{
    width: 30%;
    padding: 10px ;
}
.parent .products .product h1{
    color: rgb(57, 56, 56);
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}
.parent .products .product p{
    color: rgb(57, 56, 56);
    font-weight: bold;
    text-align: center;
}
.parent .gams{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
.parent .gams .game{
    width: inherit;
    
}
.parent .gams .game img{
    width: 500px;
    object-fit: contain;
    transform: translateX(10px);
    
}
.parent .gams  h2{
    color: rgb(57, 56, 56);
    font-size: 22px;
    transform: translateY(-25px);
    text-align: center;
    text-transform: capitalize;
}
.parent .footer{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: -80px auto;
    


}
.parent .footer h1{
    color:rgb(57, 56, 56);
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: default;
}
.parent .footer p{
    color: rgb(57, 56, 56);
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center;
    cursor: default;
}
.parent .footer p:nth-of-type(2){
    color: rgb(57, 56, 56);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center;
    cursor: default;
    margin-top: 20px;
}

body::-webkit-scrollbar{
    background-color: antiquewhite;
    width: 5px;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(7, 64, 7);
    width: inherit;
    border-radius: 5px;


}



































































































.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

